{% load crispy_forms_tags %}

{% block form %}

    {% crispy form form.helper %}

    {% if form.errors %}
        {% for field in form %}
            {% for error in field.errors %}
                <div class="alert alert-danger">
                    <strong>{{ error|escape }}</strong>
                </div>
            {% endfor %}
        {% endfor %}

        {% for error in form.non_field_errors %}
            <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endif %}
    <div class="col-10 progress my-3">
        <div class="progress-bar" style="width:25%"></div>
    </div>

{% endblock %}
